<footer class="w-3/4 mx-auto md:w-full">
  <div class="w-full max-w-[85rem] py-16 px-4 sm:px-6 lg:px-8 lg:pt-20 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-6">

      <div class="col-span-1">
        <h4 class="font-semibold text-gray-100">Product</h4>

        <div class="mt-6 grid space-y-3">
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Home</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Examples</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Pricing</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Updates</a></p>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-span-1">
        <h4 class="font-semibold text-gray-100">Resources</h4>

        <div class="mt-6 grid space-y-3">
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Home</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Examples</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Pricing</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Updates</a></p>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-span-1">
        <h4 class="font-semibold text-gray-100">About</h4>

        <div class="mt-6 grid space-y-3">
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Home</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Examples</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Pricing</a></p>
          <p><a class="inline-flex gap-x-2 text-white hover:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="#">Updates</a></p>
        </div>
      </div>
      <!-- End Col -->
      <div class="md:col-span-2">
        <div class="flex items-center justify-start gap-2">
          <img ngSrc="../../assets/Vector (4).png" alt="Logo" width="32" height="40" priority>
          <p class=" text-white">7480 Mockingbird Hill undefined </p>
        </div>
        <div class="mt-4 flex items-center justify-start gap-2">
          <img ngSrc="../../assets/Vector (5).png" alt="Logo" width="21" height="33" priority>
          <p class=" text-white">(239) 555-0108</p>
        </div>
        <div class="flex items-center justify-start mt-4 gap-2">
          <img src="../../assets/ant-design_twitter-outlined.png" alt="Logo" width="41" height="42" priority>
          <img src="../../assets/ant-design_facebook-filled.png" alt="Logo" width="42" height="42" priority>
          <img src="../../assets/ant-design_linkedin-filled.png" alt="Logo" width="42" height="42" priority>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->

  </div>
</footer>
