<main>
      <app-navbar></app-navbar>
      <app-home-section #up></app-home-section>
      @defer (on viewport(up)) {
        <app-section-t titre="FEATURES" sousTitre="Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.">
            <app-features1></app-features1>
        </app-section-t>
      } @placeholder {
        <p>fef</p>
      }
    @defer{
      <app-section-t titre="Contents" sousTitre="We focus on ergonomics and meeting you where you work. It's only a keystroke away.">
        <app-features2></app-features2>
      </app-section-t>
    } @defer{
      <app-section-t titre="Gallery" sousTitre="We focus on ergonomics and meeting you where you work. It's only a keystroke away.">
        <app-features3></app-features3>
      </app-section-t>
    } @defer{
      <app-section-t titre="Partners" sousTitre="We focus on ergonomics and meeting you where you work. It's only a keystroke away.">
        <app-features4></app-features4>
      </app-section-t>
    } @defer{
      <app-testimonials></app-testimonials>
} @defer{
      <app-end-section></app-end-section>
} @defer{
      <app-footer-s></app-footer-s>
}
</main>
