<div class="bg-primary4 md:rounded-xl md:w-[90%] mx-auto flex flex-col md:flex-row   items-center justify-between">
  <div class="p-6 w-3/4 md:w-full text-center md:text-start">
    <h2 class="text-2xl mb-4 font-normal md:text-4xl md:leading-tight  dark:text-white">OpenType features and Variable fonts</h2>
    <app-button2 texte="Try For Free"></app-button2>
  </div>
<img ngSrc="../../assets/Line Chart 1.png" class="hidden md:block" alt="Logo" width="585" height="365" sizes="100vw" priority>
<img ngSrc="../../assets/Line Chart 1 (1).png" class="block md:hidden" alt="Logo" width="541" height="384" sizes="100vw" priority>

</div>
