<div class="w-3/4 mx-auto flex flex-1 items-stretch justify-center gap-6 flex-col md:flex-row">
  <app-card titre="Work"
  description="Ever wondered if you're too reliant on a client for work? Slate helps you identify ."
  btnT="Sign Up"
  url="../../../assets/Macbook Pro.png"
  wi="406"
  hi="227"
  ></app-card>
  <app-card titre="Design with real data"
  description="Ever wondered if you're too reliant on a client for work? Slate helps you identify ."
  btnT="Try For Free"
  url="../../../assets/Boards Notifications.png"
  wi="442"
  hi="339"
  ></app-card>
</div>
