<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">Testimonials</h2>
  </div>
  <div class="columns-1 md:columns-2 w-3/4 mx-auto md:w-3/4 lg:w-[60%] ">
  <app-card-testimonials nom="Claire Bell"
  description="Slate helps you see how many more days you need to work to reach your financial goal for the month and year. Slate helps you see how many more days you need to work to reach your financial goal for the month and year.your financial goal for the month and year."
  url="../../assets/Ellipse 2.png"
  ></app-card-testimonials>
  <app-card-testimonials nom="Ralph Fisher" [isMt]="true"
  description="Slate helps you see how many more days you need to work to reach your financial goal for the month and year. Slate helps you see how many more days you need to work to reach your financial goal for the month and year."
  url="../../assets/Ellipse 2 (2).png"
  ></app-card-testimonials>
  <app-card-testimonials nom="Francisco Lane" [isMt]="true"
  description="Slate helps you see how many more days you need to work to reach your financial goal for the month and year. Slate helps you see how many more days you need to work to reach your financial goal for the month and year."
  url="../../assets/Ellipse 2 (1).png"
  ></app-card-testimonials>
  <app-card-testimonials nom="Jorge Murphy" [isMt]="true"
  description="Slate helps you see how many more days you need to work to reach your financial goal for the month and year. Slate helps you see how many more days you need to work to reach your financial goal for the month and year."
  url="../../assets/Ellipse 2 (3).png"
  ></app-card-testimonials>
</div>
