<div class="flex items-center justify-center flex-col md:flex-row gap-10">
  <img ngSrc="../../../assets/Frame 19.png" alt="Logo" width="784" height="759" class="w-full md:w-1/2 h-auto" sizes="50vw" priority>
  <div class="flex flex-col gap-8 md:w-1/4 p-16 md:p-0 item-center justify-center">
    <app-block1 titre="A single source of truth"
    description="When you add work to your Slate calendar we automatically calculate useful insights"
    url="../../../assets/Vector (1).png" wi="26" hi="24"
    ></app-block1>
    <app-block1 titre="Intuitive interface"
    description="When you add work to your Slate calendar we automatically calculate useful insights"
    url="../../../assets/Vector (2).png" wi="30" hi="30"
    ></app-block1>
    <app-block1 titre="Or with rules"
    description="When you add work to your Slate calendar we automatically calculate useful insights"
    url="../../../assets/Vector (3).png" wi="42" hi="19"
    ></app-block1>
  </div>
</div>
