<div class="md:max-w-2xl md:mx-auto mx-4">
  <div class="grid grid-cols-3 md:flex md:justify-center md:items-center gap-4 md:gap-8 w-3/4 mx-auto">
    <img src="../../../assets/logos_apple-app-store.png" height="61" width="61" alt="Image Description">
    <img src="../../../assets/logos_apiary.png" height="61" width="62" alt="Image Description">
    <img src="../../../assets/logos_android-icon.png" height="61" width="72" alt="Image Description">
    <img src="../../../assets/logos_basecamp.png" height="61" width="73" alt="Image Description">
    <img src="../../../assets/logos_airbnb.png" height="61" width="66" alt="Image Description">
    <img src="../../../assets/logos_ibm.png" height="61" width="151" alt="Image Description">
  </div>
  <div class="flex items-center mt-8 justify-center">
    <app-button1 texte="All Partners"></app-button1>
  </div>
</div>
